.azure
.github
*.pyc
__pycache__/
.venv
.env
.DS_Store
lib
*.zip
*.log
.python-version
.pytest_cache
*.pem
lab_1_internal_threat_hunting/
lab_2_external_threat_hunting/
lab_2_*/
.specify/
.vscode/
.github/
.ansible/
.devcontainer/
specs/